<!-- Begin SEO tag -->
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
  
<meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
{% if page.imagepreview %}
    <meta property="og:image" content="{{ page.imagepreview }}">
{% endif %}
{% if site.author %}<meta property="author" content="{{ site.author }}" />{% endif %}

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
{% endif %}

{% assign canonical_url = site.url | append: site.baseurl | append: page.url | replace: "http://", "https://" %}
<link rel="canonical" href="{{ canonical_url }}" />
<meta property="og:url" content="{{ canonical_url }}" />
<!-- End SEO tag -->
